version: '2'

services:
  api:
    image: node:latest
    environment:
      - VIRTUAL_HOST=api.cromoly.dev
      - NODE_ENV=development
    volumes:
      - ./api:/app
    working_dir: /app
    command: npm run dev
    networks:
      - default
      - nginx-proxy
    expose:
      - "3000"
    links:
      - mongo

  management:
    image: node:latest
    environment:
      - VIRTUAL_HOST=management.cromoly.dev
      - NODE_ENV=development
      - API_ADDRESS=//api.cromoly.dev
      - STATIC_ADDRESS=//static.cromoly.dev
    volumes:
      - ./management:/app
    working_dir: /app
    command: npm run dev
    networks:
      - default
      - nginx-proxy
    expose:
      - "3000"
    links:
      - api

  website:
    image: node:latest
    environment:
      - VIRTUAL_HOST=cromoly.dev
      - NODE_ENV=development
      - API_ADDRESS=http://api:3000
    volumes:
      - ./website:/app
    working_dir: /app
    command: npm run dev
    networks:
      - default
      - nginx-proxy
    expose:
      - "3000"
    links:
      - api

  mongo:
    image: mongo
    ports:
      - "38028:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - default

volumes:
  mongo-data:
    driver: local

networks:
  nginx-proxy:
    external: true
